@media screen and (max-width: 500px){
     /* MOBILE DESIGN HERE */
     body {
          background-color: blue;
     }

     #greeting {
          color: white;
     }
}

@media screen and (min-width: 501px){
     body {
          /* background-color: #f6f6f6; */
          background-color: black;
     }

     #greeting {
          color: white;
     }
}
