
body {
     background-color: #f6f6f6; 
}

#greeting {
     
}


@media screen and (max-width: 500px){
     /* MOBILE DESIGN HERE */
     * {
          border: 1px solid gold;
     }

     body {
          background-color: #f6f6f6;
     }

     #greeting {
          text-align: center;
          margin-top: 15px;
          margin-bottom: 5px;
     }

     #fact {
          padding: 0 20%;
          font-style: italic;
          
     }

     header p {
          text-align: center;
          margin-top: 0;
          margin-bottom: 3px;
     }
     
     .top-info-container {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: space-between;
     }

     .content-container {
          margin: 5px auto 5px auto;
          width: 90%;
          height: 70vh;
          background-color: aquamarine;
     }

     footer {
          background-color: rgb(41, 41, 41);
          height: 50px;
     }


}

